div{
    padding: 20px;
    width: 500px;
}
input{
    padding: 5px;
    margin-bottom: 10px;
}
#button{
    width: 80px;
    margin-left: 145px;
    box-shadow: 2px 2px 2px #888888;
}
label{
    margin-right: 10px;
}
.error{
    color: red;
    font-style: italic;
}
